/**
 * This extension supports Gmail and InboxByGmail. The view logic is
 * similar for both interfaces, but the selectors are different.
 *
 * So, most of the action is in the app specific css files.
 *
 * This file contains common styles that apply to both apps.
 */

/**
 * Control visibility of the show / hide inbox buttons added by this
 * extension.
 */
#hide_my_inbox {
  display: none !important;
}

#show_my_inbox {
  display: none !important;
}

.iwr-hide-email-view #show_my_inbox {
  display: inline-block !important;
}

.iwr-show-email-view #hide_my_inbox {
  display: inline-block !important;
}

.iwr-active.iwr-hide-email-view #hide_my_inbox {
  display: none !important;
}

.iwr-active.iwr-hide-email-view.iwr-active-view--inbox .ay #show_my_inbox,
.iwr-active.iwr-show-email-view.iwr-active-view--inbox .ay #hide_my_inbox {
  display: none !important;
}


/**
 * Style the flash message.
 */

.iwr-flash-message {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  background: #f1f1f1;

  /* Hide flash messages by default */
  display: none;
}

/* Only ever show a flash message when the inbox view is active and inbox is visible */
.iwr-active-view--inbox.iwr-show-email-view .iwr-flash-message {
  display: block;
}

.iwr-flash-message h2 {
  margin-top: 3px;
  margin-bottom: 12px;
}

.iwr-flash-message p,
.iwr-flash-message li {
  font-size: 14px;
}

.iwr-flash-message p:last-child {
  margin-bottom: 0;
}

.iwr-flash-message [role="button"] {
  text-decoration: none;
}