/**
 * This extension supports Gmail and InboxByGmail. The view logic is
 * similar for both interfaces, but the selectors are different.
 *
 *
 * Selector reference
 *
 * Gmail and Inbox by Gmail user interfaces have very enigmatic CSS
 * selector names.
 *
 * --- Gmail ---
 *
 * .aeF         main area wrapper (contains wrappers for inbox,
 *              search results, etc)
 * .ar5         the message count and pagination buttons
 * .aE3         inbox wrapper
 * .aeN .ajl    left sidebar menu
 * .aeV         account metadata (shown beneath message list)
 * .aeG         account metadata
 *
 * --- /Gmail ---
 *
 * --- InboxbyGmail ---
 *
 *
 * .tE          main area wrapper
 * .ay          modifier applied to main area wrapper when on pinned view
 *
 * --- /InboxbyGmail ---
 *
 */


/*
 * To begin, we hide *all* elements that might give a clue
 * about inbox status. We must do this before InboxWhenReady loads,
 * otherwise there might be a brief flash of inbox status clues
 * just after the app loads, or during view changes.
 */

/* --- Gmail --- */
.aE3,
.aeN .ajl,
.aeV,
.ar5,
.aeG {
  visibility: hidden !important; /* important rules override native styles */
}
/* --- /Gmail --- */

/* --- InboxByGmail --- */
.tE {
  visibility: hidden !important;
}
/* --- /InboxByGmail --- */


/*
 * The .iwr-active class is appended to body when InboxWhenReady
 * has loaded.
 */

/* --- Gmail --- */
.iwr-active .aeN .ajl,
.iwr-active .ar5,
.iwr-active .aeV,
.iwr-active .aeG
{
  visibility: visible !important;
}
/* --- /Gmail --- */

/* --- InboxByGmail --- */
.iwr-active .tE {
  visibility: visible !important; /* important rules override native view logic */
}
/* --- /InboxByGmail --- */


/*
 * If user does want to see their inbox AND they are on the #inbox view,
 * then show the inbox wrapper and the storage information.
 */

/* --- Gmail --- */
.iwr-active-view--inbox.iwr-show-email-view .aE3,
.iwr-active-view--inbox.iwr-show-email-view .aeV,
.iwr-active-view--inbox.iwr-show-email-view .aeG,
.iwr-active-view--inbox.iwr-show-email-view .ar5 {
  visibility: visible !important;
}
/* --- /Gmail --- */


/*
 * If user does not want to see their inbox AND they are on the #inbox view,
 * then hide the inbox wrapper and the storage information.
 */

 /* --- Gmail --- */
 .iwr-active-view--inbox.iwr-hide-email-view .aE3,
 .iwr-active-view--inbox.iwr-hide-email-view .aeV,
 .iwr-active-view--inbox.iwr-hide-email-view .aeG,
 .iwr-active-view--inbox.iwr-hide-email-view .ar5 {
  visibility: hidden !important;
}
/* --- /Gmail --- */

/* --- InboxByGmail --- */
.iwr-hide-email-view.iwr-active-view--inbox .tE {
  visibility: hidden !important;
}
/* Do show pinned messages */
.iwr-hide-email-view.iwr-active-view--inbox .ay .tE {
  visibility: visible !important;
}

.iwr-active.iwr-hide-email-view.iwr-active-view--inbox .ay #show_my_inbox,
.iwr-active.iwr-show-email-view.iwr-active-view--inbox .ay #hide_my_inbox {
  display: none !important;
}

.iwr-active.iwr-hide-email-view .aE3 {
  display: none !important;
}
/* --- /InboxByGmail --- */


/**
 * Control visibility of the show / hide inbox buttons added by this
 * extension.
 */
#show_my_inbox,
#hide_my_inbox {
  display: none !important;
}

.iwr-active.iwr-hide-email-view #show_my_inbox {
  display: inline-block !important;
}

.iwr-active-view--inbox #hide_my_inbox {
  display: inline-block !important;
}

.iwr-active.iwr-hide-email-view #hide_my_inbox {
  display: none !important;
}

/* --- InboxByGmail --- */
.iwr-active-view--inbox .c4 > #show_my_inbox,
.iwr-active-view--inbox .c4 > #hide_my_inbox {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  padding: 5px;
  z-index: 18; /* Compose dialog has z-index 19 */
  text-align: center;
}

.iwr-active-view--inbox .c4 > #hide_my_inbox {
  top: 72px;
  position: absolute;
}
/* --- /InboxByGmail --- */


/*
 * If the user has browsed directly to
 * an individual email in Gmail. For example, via a link like:
 *
 * https://mail.google.com/mail/u/0/?ui=2&view=btop&ver=1nnj51jn5rorm&search=inbox&th=15110e66fb6fd617&cvid=1
 */

/* --- Gmail --- */
.xE .aE3,
.xE .aeN .ajl,
.xE .aeV,
.xE .aeG {
  visibility: visible !important;
}
/* --- /Gmail --- */


/*
 * In Gmail, the main area wrapper has a min-height. This doesn't make
 * sense when inbox is hidden.
 */

/* --- Gmail --- */
.aeF {
  min-height: 0 !important;
}
/* --- /Gmail --- */